.contentMain {
    background-image: url('./assets/ekaterina-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.contentMain1{
    background-image: url('./assets/servín-2x.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.contentMain2 {
    background-image: url('./assets/pixabay-3x.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.contentMain3 {
    background-image: url('./assets/fiona-art-4.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.contentMain4 {
    background-image: url('./assets/steve-johnson.png');
    background-repeat: no-repeat;
    background-size: cover;
}